:root {
  --theme-color: #fb7299;
  --theme-color-light: #fca5b9;
  --theme-color-dark: #f95a8a;
  --theme-color-shadow: #ffc0d6;
  --theme-text-color-dark: #4f4f4f;
}

* {
  user-select: none;
}

.dashboard-content {
  padding: 15px;
}

.page-title {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #fb7299d3;
  font-family: 'KaTongFont';
}

.page-title-description {
  font-size: 16px;
  color: #999;
  margin-top: 5px;
  margin-bottom: 20px;
  font-family: 'KaTongFont';
}

.background-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.dashboard-content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 30px 50px;

  scrollbar-width: none;
}
