:root {
  /* --theme-color: rgb(251, 114, 153); */
  --theme-color-light: rgb(252, 165, 185);
  --theme-color-dark: rgb(249, 90, 138);
  --theme-color-shadow: rgb(255, 192, 214);
  --theme-text-color-dark: rgb(79, 79, 79);
  --theme-color: rgb(252, 142, 173);
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  user-select: none;
  scrollbar-width: thin;
  scrollbar-color: #ffc0d6 transparent;
}

.page-title {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #fb7299d3;
  font-family: 'KaTongFont';
}

.page-title-description {
  font-size: 16px;
  color: #999;
  margin-top: 5px;
  margin-bottom: 20px;
  font-family: 'KaTongFont';
}

.background-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.dashboard-content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 30px 50px;

  scrollbar-width: none;
}

.titlebar {
  position: fixed;
  z-index: 100;
  top: 0;
  height: 40px;
  user-select: none;
  width: 100%;
  -webkit-app-region: drag;
  app-region: drag;
}

.titlebar-icons {
  display: flex;
  gap: 8px;
  position: absolute;
  right: 0;
  width: 100px;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-right: 15px;
  -webkit-app-region: no-drag;
  app-region: no-drag;
  z-index: 99999;
}

.titlebar-item {
  border-radius: 100%;
  cursor: pointer;
  width: 13px;
  height: 13px;
  cursor: pointer;
  opacity: 0.85;
  transition: opacity 0.18s ease;
}

.titlebar-item:hover {
  opacity: 1;
}
