@font-face {
  font-family: 'LoliFont';
  src: url('./萝莉体.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* 优化字体加载 */
}

@font-face {
  font-family: 'ZhiMangXingFont';
  src: url('./钟齐志莽行书.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* 优化字体加载 */
}

@font-face {
  font-family: 'KaTongFont';
  src: url('./大萌卡通体.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* 优化字体加载 */
}

@font-face {
  font-family: 'SanJiFangYuanFont';
  src: url('./三极圆体简.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* 优化字体加载 */
}
